.heading
{
    font-size:23px;
    width:100%;
    margin:0;
}
body
{
background-size:cover;
font-family: 'Montserrat', sans-serif;
}
.note
{
    font-size:15px;
    color:whitesmoke;
}
.song_name
{
    width: 130px;
    font-size:25px;
}
canvas
{
    border:5px solid whitesmoke;
    border-radius:20px;
}

